body {
  padding-top: 64px;
  background-color: #fafafa;
  font-family: 'Roboto', sans-serif;
}

html {
  height: 100%;
}

body {
  min-height: 100%;
}

.help-block ul { margin:0 0 -10px 0; }
.help-block li { list-style-type:none; }

.btn-action {
  color: rgba(0,0,0,0.54);
}
