.nav-sidebar > li > a {
  padding: 7px 0px;
  color: rgba(0,0,0,0.87);
  font-size: 14px;
  font-weight: 500;
}
.nav-sidebar > li > a > i {
  padding: 7px 32px 7px 0px;
  color: rgba(0,0,0,0.54);
  font-weight: 500;
}

.nav-sidebar > li > a:focus, .nav-sidebar > li > a:hover {
  /*text-decoration: none;*/
  background-color: #fff;
  color: #009688;
}

.subheader {
  font-weight: bold;
  color: rgba(0,0,0,0.54);
  font-size: 14px;
}
