<div class="col-md-2 sidebar-shadow" style="min-height: 100vh; background-color: #fff;">
	<div class="sidebar-nav">
		<ul class="nav nav-list nav-sidebar">
			<li class="nav-header subheader">General</li>
			<li{% if request.path=="/" or request.path=="/home" %} class="active"{% endif %}><a href="{{ url_for('home') }}" id="home-btn"><i class="fa fa-home fa-lg"></i> Overview<i class="glyphicon glyphicon-refresh hide" id="home-load" style="float:right;margin-top:3px;"></i></a></li>
		</ul>
		{% if containers != [] %}<ul class="nav nav-list nav-sidebar">
			<li class="nav-header subheader">Containers</li>
			{% for c in containers %}
				<li{% if request.path=='/'+ c +'/edit' %} class="active"{% endif %}><a href="{{ url_for('edit',container=c) }}"><i class="fa fa-hdd-o fa-lg"></i> {{c}}</a></li>
			{% endfor %}
		</ul>{% endif %}
		{% if session.su == 'Yes' %}<ul class="nav nav-list nav-sidebar">
			<li class="nav-header subheader">Settings</li>
			<li{% if request.path=="/settings/lxc-net" %} class="active"{% endif %}><a href="{{ url_for('lxc_net') }}"><i class="fa fa-globe fa-lg"></i> Networking</a></li>
			<li{% if request.path=="/checkconfig" %} class="active"{% endif %}><a href="{{ url_for('checkconfig') }}"><i class="fa fa-check fa-lg"></i> System</a></li>
		</ul>{% endif %}
		<ul class="nav nav-list nav-sidebar">
			<li class="nav-header subheader">Admin</li>
			{% if session.su == 'Yes' %}<li{% if request.path=="/lwp/users" %} class="active"{% endif %}><a href="{{ url_for('lwp_users') }}"><i class="fa fa-user fa-lg"></i> Users</a></li>{% endif %}
			<li{% if request.path=="/about" %} class="active"{% endif %}><a href="{{ url_for('about') }}"><i class="fa fa-book fa-lg"></i> About</a></li>
		</ul>
	</div>
</div>
