{% extends "layout.html" %}
{% block title %}Users{% endblock %}
{% block content %}
  <div class="col-md-10 col-md-offset-2">
    <div class="row">

      <div class="col-md-12" style="background-color: #E0E0E0; height: 72px;">
        <ol class="breadcrumb breadcrumb-md">
          <li><a href="{{ url_for('home') }}">Overview</a></li>
          <li class="active">Users</li>
        </ol>
      </div>

      <div class="col-md-12">
        {{ super() }}
      </div>

      <div class="col-md-9 col-md-offset-1">

        <div class="page-header page-header-md clearfix">
          <h4 class="pull-left">Users</h4>
          <div class="btn-group pull-right" style="margin-top: 10px;margin-bottom: 0px;">
            <a class="btn btn-link md-action" data-toggle="modal" data-target="#newUser"><i class="fa fa-plus"></i></a>
          </div>
        </div>

        <div class="panel panel-default">
          <!-- <div class="panel-heading">
            <h3 class="panel-title">Panel title</h3>
          </div> -->
          <form class="form-inline" method="post" id="editUser">
            <table class="table table-material">
              <thead>
                <tr>
                  <th>Username</th>
                  <th>Name</th>
                  <th>Admin?</th>
                  <th>Password</th>
                  <th>Actions</th>
                </tr>
              </thead>
              <tbody>
                {% for user in users %}
                  <tr>
                    <td>
                      {{ user.username }}
                      <input type="hidden" name="username" value="{{ user.username }}">
                      <input type="hidden" name="newUser" value="False">
                    </td>
                    <td>
                      <input class="form-control" type="text" name="name" value="{{ user.name }}" pattern="[a-z A-Z0-9]{3,32}" placeholder="Name">
                    </td>
                    <td>
                      <div class="md-switch">
                        <label>
                          <input type="checkbox" value="Yes"{% if user.su == 'Yes' %} checked{% endif %}{% if (su_users.num < 2) and (user.su == 'Yes') %} disabled{% endif %}>
                          <span class="lever"></span>
                        </label>
                      </div>
                    </td>
                    <td>
                      <input class="form-control" type="password" name="password1" id="password1-{{ user.id }}" placeholder="Password">
                      <input class="form-control" type="password" name="password2" placeholder="Re-type">
                    </td>
                    <td>
                      <button type="submit" class="btn btn-link btn-action"><i class="fa fa-check"></i></button>
                      <a type="button" class="btn delete btn-link btn-action{% if (su_users.num < 2 and user.su == 'Yes') or nb_users.num <= 1 %} disabled{% endif %}" data-userid="{{ user.id }}" data-username="{{ user.username }}"><i class="fa fa-trash-o"></i></a>
                    </td>
                  </tr>
                {% endfor %}
              </tbody>
            </table>
          </form>
        </div>
      </div>

    </div>
  </div>

{% include "includes/modal_new_user.html" %}
{% if nb_users.num > 1 %}{% include "includes/modal_delete.html" %}{% endif %}
{% endblock %}
{% block script %}
  {% if nb_users.num > 1 %}
    <script type="text/javascript">
      var token = '{{ session.token }}';

      $(document).ready(function(){
        $(".delete").not('.disabled').on('click',function(e){
          var _this = $(this);
          $(".delete-link").attr('href',"/lwp/users?username="+ _this.data('username') +"&token="+ token +"&trash=1&userid="+ _this.data('userid'));
          $('#delete').modal('show');
        });
      });
    </script>
  {% endif %}
{% endblock %}
